/*****************************************
    LAYOUT
*****************************************/
$footer-height: 60px;
$side-navigation-width: 200px;
$side-navigation-height: 100vh;
$main-wrapper-width: calc(100% - $side-navigation-width);
//$main-wrapper-height: calc(100% - $footer-height);

$header-hight: 70px;


$border-r-s: 10px;
$border-r-m: 15px;
$border-r-l: 20px;

/*****************************************
    COLORS
*****************************************/

$my-box-shadow-s: 0 0 5px 0 rgba(0,0,0,0.20);
$my-box-shadow-m: 0 0 10px 0 rgba(0,0,0,0.25);
$my-box-shadow-l: 0 0 10px 0 rgba(0,0,0,0.30);

$my-color-violet: #ff2d55;
$my-color-orange-2: #ff3b30;
$my-color-orange: #ff9500;

/*    light theme    */
$my-color-primary: #7184ed;
$my-color-secondary: #6b7db3;
$my-color-tertiary: #ccd9ff;
$my-color-quaternary: #9999ff;

$my-bg-color-primary: #ffffff;
$my-bg-color-secondary: #e6ecff;

$my-txt-color: #191919;

/*    dark theme    */
.dark-theme {
  $my-color-primary: #bb99ff;
  $my-bg-color-primary: #252526;
  $my-bg-color-secondary: #3e3e42;
  $my-txt-color: #eeeeee;
}

/*****************************************
    ANIMATIONS AND TRANSITIONS
*****************************************/
$my-link-transition-s: .3s;
$my-link-transition-m: .6s;
$my-link-transition-l: .9s;


