/*****************************************
    LAYOUT
*****************************************/
$footer-height: 60px;
$side-navigation-width: 200px;
$side-navigation-height: 100vh;
$main-wrapper-width: calc(100% - $side-navigation-width);
//$main-wrapper-height: calc(100% - $footer-height);


$border-r-s: 10px;
$border-r-m: 15px;
$border-r-l: 20px;

/*****************************************
    COLORS
*****************************************/
$my-color-violet: #ff2d55;
$my-color-orange-2: #ff3b30;
$my-color-orange: #ff9500;
$my-color-green: #4cd964;

/*    light theme    */
$my-color-primary: #007aff;
$my-bg-color-primary: #ffffff;
$my-bg-color-secondary: #eceaee;
$my-txt-color: #191919;

/*    dark theme    */
.dark-theme {
  $my-color-primary: #007aff;
  $my-bg-color-primary: #252526;
  $my-bg-color-secondary: #3e3e42;
  $my-txt-color: #eeeeee;
}