@use "src/scss/partials/my-variables" as *;

.admin-footer {
  height: $footer-height;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  transition: .5s;

  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;

    i {
      margin-inline: 5px;
      font-size: 35px;
      color: black;
      opacity: .6;
      transition: .3s;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}