@use 'src/scss/partials/my-variables' as *;

$border-nav-link: 5px;

.navigation {
  height: 100%;

  .my-navbar {
    height: 100%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;

    .nav-item {
      height: 100%;

      .nav-link {
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 100%;
        border-bottom: 5px solid transparent;

        &:hover {
          color: $my-color-primary;
          //border-bottom: $border-nav-link solid $my-color-primary;
        }
      }

      .nav-link.router-link-active {
        color: $my-color-primary;
        border-bottom: $border-nav-link solid $my-color-primary;
      }
    }
  }
}